<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InstaDev_s</title>
    @switch (ViewData["Title"])
    {
        case "Login":
            <link rel="stylesheet" href="~/css/LoginStyle.css" />
            break;

        case "Feed":
            <link rel="stylesheet" href="~/css/Feed.css" />
            break;

        case "Edição de Perfil":
            <link rel="stylesheet" href="~/css/EdicaoDePerfil.css" />
            break;

        case "Cadastro":
            <link rel="stylesheet" href="~/css/cadastro.css" />
            break;

        case "Perfil":
            <link rel="stylesheet" href="~/css/perfil.css">
            break;
        default:
            break;
    }

</head>

<body>
    @switch (ViewData["Title"])
    {
        case "Login":
        break;
        case "Cadastro":
        break;
        default:
            <header>
                <div class="content flex-center-bt">
                    <a href="~/Usuario/Feed"><img src="~/imgCadastro/Logo.svg" alt="Logo InstaDev"></a>
                    <form class="pesquisa" action="">
                        <input class="input" placeholder="Pesquisar" type="text">
                    </form>
                    <nav>
                        <ul class="links flex-center-bt">
                            <li><a href="Feed"><img src="~/imgCadastro/Casa.svg" alt="Casa de retorno ao feed"></a></li>
                            <li><a href="#"><img src="~/imgCadastro/Aviao.svg" alt="Caixa de mensagens"></a></li>
                            <li><a href="#"><img src="~/imgCadastro/Compasso.svg" alt="Compasso"></a></li>
                            <li><a href="#"><img src="~/imgCadastro/Coracao.svg" alt="Notificações"></a></li>
                            <li><a href="Perfil"><img src="~/imgCadastro/User.svg"  alt="Perfil de Usuario"></a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            break;
    }


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
