<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InstaDev_s</title>
    @switch (ViewData["Title"])
    {
        case "Login":
            <link rel="stylesheet" href="~/css/LoginStyle.css" />
            break;

        case "Feed":
            break;

        case "Edição de Perfil":
            <link rel="stylesheet" href="~/css/EdicaoDePerfil.css" />
            break;

        case "Cadastro":
            <link rel="stylesheet" href="~/css/cadastro.css" />
            break;

        case "Perfil":
            <link rel="stylesheet" href="~/css/perfil.css">
            break;
        default:
            break;
    }

</head>

<body>
    @if (ViewBag.Logado != null)
    {

        <header>

            <div class="content flex-center-bt">
                <a href="Usuario/Feed"><img src="~/imgPerfil/Logo.svg" alt=""></a>
                <form class="pesquisa" action="">
                    <input class="input" placeholder="Pesquisar" type="text">
                </form>
                <nav>
                    <ul class="links flex-center-bt">
                        @* <li><a asp-area="" asp-action="Index" asp-controller="Usuario">Cadastrar</a></li> *@
                        <li><a href="#"><img src="~/imgPerfil/Casa.svg" alt=""></a></li>
                        <li><a href="#"><img src="~/imgPerfil/Aviao.svg" alt=""></a></li>
                        <li><a href="#"><img src="~/imgPerfil/Compasso.svg" alt=""></a></li>
                        <li><a href="#"><img src="~/imgPerfil/Coracao.svg" alt=""></a></li>
                        <li><a href="#"><img src="~/imgPerfil/User.svg" alt=""></a></li>
                    </ul>
                </nav>
            </div>
        </header>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
