<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InstaDev_s</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <div class="content flex-center-bt">
            <a href=""><img src="img/Logo.svg" alt=""></a>
            <form class="pesquisa" action="">
                <input class="input" placeholder="Pesquisar" type="text">
            </form>
            <nav>
                <ul class="links flex-center-bt">
                    <li><a href=""><img src="img/Casa.svg" alt=""></a></li>
                    <li><a href=""><img src="img/Aviao.svg" alt=""></a></li>
                    <li><a href=""><img src="img/Compasso.svg" alt=""></a></li>
                    <li><a href=""><img src="img/Coracao.svg" alt=""></a></li>
                    <li><a href=""><img src="img/User.svg" alt=""></a></li>
                </ul>
            </nav>
        </div>
    </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
