@{
    ViewData["Title"] = "Home Page";
}
<div class="E-contain">
    <div class="E-conteudo1">
        <div class="E-container">
            <hr class="E-linha">
            <h2>Editar Perfil</h2>
        </div>
        <div class="E-container1">
            <div class="E-conteudo">
                <div class="E-foto-user">
                    <div>
                        <img src="imgEdicaoDePerfil/User.svg" alt="">
                    </div>
                    <div class="E-info-user">
                        <h2>yes_baby</h2>
                        <div class="E-alterar">
                            <h3>Alterar foto de perfil</h3>
                        </div>
                    </div>
                </div>
                <div class="E-editarnome">
                    <div class="E-nomeimput">
                        <label>Nome</label>
                    </div>
                    <div class="E-Editar">
                        <input class="E-imputnome" value="Marcos Jeeves" type="text">
                        <p class="E-texto1">Ajude as pessoas a descobrir sua conta usando o nome pelo qual <br>
                            você é conhecido: seu
                            nome
                            completo, apelido ou nome <br> comercial.</p>
                        <p>Você pode alterar o seu nome apenas duas vezes a cada 14 dias.</p>
                    </div>
                </div>
                <div class="E-editperfil">
                    <div class="E-labelperfil">
                        <Label>Nome de perfil</Label>
                    </div>
                    <div class="E-imputusuario1">
                        <input class="E-imputusuario" value="Yes_baby" type="text">
                        <p class="E-texto2">Na maioria dos casos, você poderá alterar seu nome de usuário <br>
                            novamente para
                            nascimento_tr por mais 14 dias.</p>
                        <p><strong>Informações Pessoais</strong></p>
                        <p>Forneça suas informações pessoais, mesmo se a conta for usada <br> para uma empresa,
                            um
                            animal de estimação ou outra coisa. Elas <br> não farão parte do seu perfil público.
                        </p>

                    </div>
                </div>
                <div class="E-editemail1">
                    <Label>Email</Label>
                    <input class="E-imputemail" value="yes_baby@email.com" type="text"></imput>
                </div>
                <div class="E-botao">
                    <button class="E-enviar">Enviar</button> <a href="#">Desativar minha conta definitivamente</a>
                </div>
            </div>
        </div>
    </div>
</div>
