@{
    ViewData["Title"] = "Login";
}

<body class="L-body">
    <div class="L-corpo">

        <div class="L-retangulo1">
            <div class="L-content">

                <img src="~/LoginImg/Instadev.svg" alt="Logo Instadev">
                
                <form action='@Url.Action("Logar")'class="L-form_login">
                    <input name="Email" type="email" class="input1" placeholder="Email" required />
                    <input name="Senha" type="password" class="input2" placeholder="Senha" required />
                    <button type="submit">Entrar</button>
                </form>

                <div class="L-ou">
                    <hr>
                    <h2>OU</h2>
                    <hr>
                </div>

                <a href="https://www.instagram.com/accounts/password/reset/">Esqueceu a senha?</a>
            </div>
        </div>

        <div class="L-retangulo2">
            <div class="L-content2">

                <h2>Não tem uma conta? <a asp-area="" asp-action="Index" asp-controller="Usuario">Cadastre-se</a></h2>
                
            </div>
        </div>
        
        <div class="L-retangulo3">
            <h2>Obtenha o aplicativo</h2>
            
            <a target="_blank" href="https://apps.apple.com/br/app/instagram/id389801252"><img src="LoginImg/app_store 1.svg"
                    alt="Link para baixar o Aplicativo na App Store"></a>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.instagram.android&hl=pt_BR"><img
                    src="LoginImg/google_play 1.svg" alt="Link para baixar o Aplicativo na Play Store"></a>
        </div>
    </div>
</body>
