@using InstaDev_s.Models;

@{
    ViewData["Title"] = "Perfil";
}

        <div class="P-content">
            <section class="P-info">
                <div class="P-foto-user">
                    <img src="~/imgPerfil/User.svg" alt="">
                </div>
                <div class="P-info-user">
                    @foreach (Usuario usuario in ViewBag.Infos)
                    {
                        
                        <div class="P-nome"><span>@usuario.Username</span></div>
                        <div class="P-num"><span>3 publicações</span> <span>128 seguindo</span> <span>214 seguidores</span></div>
                        <div class="P-sair"><span>@usuario.Nome</span> <button>Sair</button></div>                        
            
                    }
                </div>
            </section>


            <div class="P-publi">
                <img src="~/imgPerfil/Publi.svg" alt="">
                <span>Publicações</span>
            </div>

            <div class="P-post">

                <section class="P-foto-post">
                    <img src="~/imgPerfil/MarcosJeeves.svg" alt="">
                </section>

                <section class="P-descricao-post">
                    <div class="P-user">
                        <img src="~/imgPerfil/User.svg" alt="">
                        <div class="P-info-local">
                            <span>Marcos Jeeves</span>
                            <p>Rio De Janeiro, Brazil</p>
                        </div>
                    </div>

                    <div class="P-interacoes">
                        <div class="P-like">
                            <img src="~/imgPerfil/Coracao.svg" alt="">
                            <img src="~/imgPerfil/Comentario.svg" alt="">
                        </div>
                        <span>1954 curtidas</span>
                    </div>

                    <div class="P-comentarios">
                        <div class="P-comentario">
                            <div class="P-msg-comentario">
                                <span class="P-usuario-comentario">fausto_silva</span>
                                <span class="P-texto-comentario">Esse cara é fera, bixo!!!</span>
                            </div>
                            <img src="~/imgPerfil/Coracao.svg" alt="">
                        </div>

                        <div class="P-comentario">
                            <div class="P-msg-comentario">
                                <span class="P-usuario-comentario">rusbe_jean</span>
                                <span class="P-texto-comentario">Esse é meu filho!</span>
                            </div>
                            <img src="~/imgPerfil/Coracao.svg" alt="">
                        </div>

                        <div class="P-comentario">
                            <div class="P-msg-comentario">
                                <span class="P-usuario-comentario">miranha_oficial</span>
                                <span class="P-texto-comentario">Tio Ben?!</span>
                            </div>
                            <img src="~/imgPerfil/Coracao.svg" alt="">
                        </div>
                        
                        <div class="P-comentario">
                            <div class="P-msg-comentario">
                                <span class="P-usuario-comentario">yes_baby</span>
                                <span class="P-texto-comentario">Vamos, samurai! Temos uma cidade para queimar</span>
                            </div>
                            <img src="~/imgPerfil/Coracao.svg" alt="">
                        </div>

                    </div>

                    <div class="P-ler-comentarios">
                        <button>Ver todos os 1201 comentários</button> 
                    </div>

                </section>
                
            </div>

        </div>

