@{
    ViewData["Title"] = "Home Page";
}
<div class="contain">
    <div class="conteudo1">
        <div class="container">
            <hr class="linha">
            <h2>Editar Perfil</h2>
        </div>
        <div class="container1">
            <div class="conteudo">
                <div class="foto-user">
                    <div>
                        <img src="img/User.svg" alt="">
                    </div>
                    <div class="info-user">
                        <h2>yes_baby</h2>
                        <div class="alterar">
                            <h3>Alterar foto de perfil</h3>
                        </div>
                    </div>
                </div>
                <div class="editarnome">
                    <div class="nomeimput">
                        <label>Nome</label>
                    </div>
                    <div class="Editar">
                        <input class="imputnome" value="Marcos Jeeves" type="text">
                        <p class="texto1">Ajude as pessoas a descobrir sua conta usando o nome pelo qual <br>
                            você é conhecido: seu
                            nome
                            completo, apelido ou nome <br> comercial.</p>
                        <p>Você pode alterar o seu nome apenas duas vezes a cada 14 dias.</p>
                    </div>
                </div>
                <div class="editperfil">
                    <div class="labelperfil">
                        <Label>Nome de perfil</Label>
                    </div>
                    <div class="imputusuario1">
                        <input class="imputusuario" value="Yes_baby" type="text">
                        <p class="texto2">Na maioria dos casos, você poderá alterar seu nome de usuário <br>
                            novamente para
                            nascimento_tr por mais 14 dias.</p>
                        <p><strong>Informações Pessoais</strong></p>
                        <p>Forneça suas informações pessoais, mesmo se a conta for usada <br> para uma empresa,
                            um
                            animal de estimação ou outra coisa. Elas <br> não farão parte do seu perfil público.
                        </p>

                    </div>
                </div>
                <div class="editemail1">
                    <Label>Email</Label>
                    <input class="imputemail" value="yes_baby@email.com" type="text"></imput>
                </div>
                <div class="botao">
                    <button class="enviar">Enviar</button> <a href="#">Desativar minha conta definitivamente</a>
                </div>
            </div>
        </div>
    </div>
</div>
