@{
    ViewData["Title"] = "Perfil Page";
}

    <main>
        <div class="content ">
        <section class="info">
                <div class="foto-user">
                    <img src="img/User.svg" alt="">
                </div>
                <div class="info-user">
                    <div class="nome"><span>yes_baby</span></div>
                    <div class="num"><span>3 publicações</span> <span>128 seguindo</span> <span>214 seguidores</span></div>
                    <div class="sair"><span> Marcos Jeeves</span> <button>Sair</button></div>
                </div>
            </section>


            <div class="publi">
                <img src="img/Publi.svg" alt="">
                <span>Publicações</span>
            </div>

            <div class="post">

                <section class="foto-post">
                    <img src="img/MarcosJeeves.svg" alt="">
                </section>

                <section class="descricao-post">
                    <div class="user">
                        <img src="img/User.svg" alt="">
                        <div class="info-local">
                            <span>Marcos Jeeves</span>
                            <p>Rio De Janeiro, Brazil</p>
                        </div>
                    </div>

                    <div class="interacoes">
                        <div class="like">
                            <img src="img/Coracao.svg" alt="">
                            <img src="img/Comentario.svg" alt="">
                        </div>
                        <span>1954 curtidas</span>
                    </div>

                    <div class="comentarios">
                        <div class="comentario">
                            <div class="msg-comentario">
                                <span class="usuario-comentario">fausto_silva</span>
                                <span class="texto-comentario">Esse cara é fera, bixo!!!</span>
                            </div>
                            <img src="img/Coracao.svg" alt="">
                        </div>

                        <div class="comentario">
                            <div class="msg-comentario">
                                <span class="usuario-comentario">rusbe_jean</span>
                                <span class="texto-comentario">Esse é meu filho!</span>
                            </div>
                            <img src="img/Coracao.svg" alt="">
                        </div>

                        <div class="comentario">
                            <div class="msg-comentario">
                                <span class="usuario-comentario">miranha_oficial</span>
                                <span class="texto-comentario">Tio Ben?!</span>
                            </div>
                            <img src="img/Coracao.svg" alt="">
                        </div>
                        
                        <div class="comentario">
                            <div class="msg-comentario">
                                <span class="usuario-comentario">yes_baby</span>
                                <span class="texto-comentario">Vamos, samurai! Temos uma cidade para queimar</span>
                            </div>
                            <img src="img/Coracao.svg" alt="">
                        </div>

                    </div>

                    <div class="ler-comentarios">
                        <button>Ver todos os 1201 comentários</button> 
                    </div>

                </section>
                
            </div>

            <div class="post">

                <section class="foto-post">
                    <img src="img/MarcosJeeves.svg" alt="">
                </section>

                <section class="descricao-post">
                    <div class="user">
                        <img src="img/User.svg" alt="">
                        <div class="info-local">
                            <span>Marcos Jeeves</span>
                            <p>Rio De Janeiro, Brazil</p>
                        </div>
                    </div>

                    <div class="interacoes">
                        <div class="like">
                            <img src="img/Coracao.svg" alt="">
                            <img src="img/Comentario.svg" alt="">
                        </div>
                        <span>1954 curtidas</span>
                    </div>

                    <div class="comentarios">
                        <div class="comentario">
                            <div class="msg-comentario">
                                <span class="usuario-comentario">fausto_silva</span>
                                <span class="texto-comentario">Esse cara é fera, bixo!!!</span>
                            </div>
                            <img src="img/Coracao.svg" alt="">
                        </div>

                        <div class="comentario">
                            <div class="msg-comentario">
                                <span class="usuario-comentario">rusbe_jean</span>
                                <span class="texto-comentario">Esse é meu filho!</span>
                            </div>
                            <img src="img/Coracao.svg" alt="">
                        </div>

                        <div class="comentario">
                            <div class="msg-comentario">
                                <span class="usuario-comentario">miranha_oficial</span>
                                <span class="texto-comentario">Tio Ben?!</span>
                            </div>
                            <img src="img/Coracao.svg" alt="">
                        </div>
                        
                        <div class="comentario">
                            <div class="msg-comentario">
                                <span class="usuario-comentario">yes_baby</span>
                                <span class="texto-comentario">Vamos, samurai! Temos uma cidade para queimar</span>
                            </div>
                            <img src="img/Coracao.svg" alt="">
                        </div>

                    </div>

                    <div class="ler-comentarios">
                        <button>Ver todos os 1201 comentários</button> 
                    </div>

                </section>
                
            </div>

            <div class="post">

                <section class="foto-post">
                    <img src="img/MarcosJeeves.svg" alt="">
                </section>

                <section class="descricao-post">
                    <div class="user">
                        <img src="img/User.svg" alt="">
                        <div class="info-local">
                            <span>Marcos Jeeves</span>
                            <p>Rio De Janeiro, Brazil</p>
                        </div>
                    </div>

                    <div class="interacoes">
                        <div class="like">
                            <img src="img/Coracao.svg" alt="">
                            <img src="img/Comentario.svg" alt="">
                        </div>
                        <span>1954 curtidas</span>
                    </div>

                    <div class="comentarios">
                        <div class="comentario">
                            <div class="msg-comentario">
                                <span class="usuario-comentario">fausto_silva</span>
                                <span class="texto-comentario">Esse cara é fera, bixo!!!</span>
                            </div>
                            <img src="img/Coracao.svg" alt="">
                        </div>

                        <div class="comentario">
                            <div class="msg-comentario">
                                <span class="usuario-comentario">rusbe_jean</span>
                                <span class="texto-comentario">Esse é meu filho!</span>
                            </div>
                            <img src="img/Coracao.svg" alt="">
                        </div>

                        <div class="comentario">
                            <div class="msg-comentario">
                                <span class="usuario-comentario">miranha_oficial</span>
                                <span class="texto-comentario">Tio Ben?!</span>
                            </div>
                            <img src="img/Coracao.svg" alt="">
                        </div>
                        
                        <div class="comentario">
                            <div class="msg-comentario">
                                <span class="usuario-comentario">yes_baby</span>
                                <span class="texto-comentario">Vamos, samurai! Temos uma cidade para queimar</span>
                            </div>
                            <img src="img/Coracao.svg" alt="">
                        </div>

                    </div>

                    <div class="ler-comentarios">
                        <button>Ver todos os 1201 comentários</button> 
                    </div>

                </section>
                
            </div>


        </div>
    </main>
