@{
    ViewData["Title"] = "Feed";
}


        <div class="F-alinhar content">
            <div class="F-conteiner">
                <section class="F-storyes ">
                        <nav>
                            <ul>
                                <li><a href="#"><div><img src="img/vin-diesel 1.png" alt=><p>vin_diesel</p></div></a></li>
                                <li><a href="#"><div><img src="img/gabigordo 1.png" alt=><p>gabigordo</p></div></a></li>
                                <li><a href="#"><div><img src="img/will-baiano 1.png" alt=><p>will_baiano</p></div></a></li>
                                <li><a href="#"><div><img src="img/tony_stark 1.png" alt=><p>adriano_stark</p></div></a></li>
                                <li><a href="#"><div><img src="img/pele 1.png" alt=><p>king_pele</p></div></a></li>
                                <li><a href="#"><div><img src="img/samuel-rosa-bebê 1.png" alt=><p>samuel_rosa</p></div></a></li>
                                <li><a href="#"><div><img src="img/chaves_metal 1.png" alt=><p>chaves_metal</p></div></a></li>
                            </ul>
                        </nav>
                </section>
                        <div class="F-perfil">
                            <div><img src="img/thank-you 2.png" alt="foto de kanel raves brasileiro"></div>
                            <div class="F-descr">
                                <p>Yes Baby</p>
                                <span>Marcos Jeeves</span>
                            </div>
                        </div> 
            </div>
                <div class="F-postar">
                    <div class="F-post"><img src="img/thank-you 3.svg" alt="foto de perfil de Marcos Jeeves "><p>Postar</p></div> 
                        <div class="F-botoes">
                            <form class="F-btns" action="">
                                <input class="F-descricao" type="text" placeholder="Digite a descrição da imagem">  <!--placeholder= escrever texto-->
                                <input class="F-escolha" type="text" placeholder="Escolha a imagem">
                                    <button class="F-btn"><div class="span1"><span >Postar</span></div>  </button>
                            </form>
                    </div><!---final botoes-->
                </div> <!-- final postar -->

                <div class="F-postagem ">
                    <div class="F-postagem_pf "><img src="img/gabigordo 2.svg" alt="foto do gabigordo de rosto"><div class="F-postagem_descr"><p>gabigordo</p><span>Flamengo, RJ</span></div></div>
                    <div class="F-foto"><img src="img/post-gabigordo 1.svg" alt="foto em grupo do time de futebol do gabigordo"></div>
                    <div class="F-comentar "><img src="img/Vector1.svg" alt="imagem coração para curtir">
                    <img src="img/comentario.svg" alt="imagem do balão de comentario">
                    <input class="F-comentar_txt" type="text" placeholder="comentar..."></div>
                    <div class="F-curtidas"> 2077 curtidas</div>
                        <div class="F-comentarios">
                            <div class="F-coment"><p>gabigordo</p><a href="#">#flamengo</a><span>Amo vocês mil milhões <3 </span></div>
                            <div class="F-coment"><p>yes_baby</p><span>thank you</span></div>
                            <div class="F-coment"><p>king_pele</p><span>Esses são bons de bola, entende?</span></div>
                        </div>
                </div> <!--final postagem-->

                <div class="F-postagem ">
                    <div class="F-postagem_pf "><img src="img/gabigordo 2.svg" alt="foto do gabigordo de rosto"><div class="F-postagem_descr"><p>gabigordo</p><span>Flamengo, RJ</span></div></div>
                    <div class="F-foto"><img src="img/post-gabigordo 1.svg" alt="foto em grupo do time de futebol do gabigordo"></div>
                    <div class="F-comentar "><img src="img/Vector1.svg" alt="imagem coração para curtir">
                    <img src="img/comentario.svg" alt="imagem do balão de comentario">
                    <input class="F-comentar_txt" type="text" placeholder="comentar..."></div>
                    <div class="F-curtidas"> 2077 curtidas</div>
                        <div class="F-comentarios">
                            <div class="F-coment"><p>gabigordo</p><a href="#">#flamengo</a><span>Amo vocês mil milhões <3 </span></div>
                            <div class="F-coment"><p>yes_baby</p><span>thank you</span></div>
                            <div class="F-coment"><p>king_pele</p><span>Esses são bons de bola, entende?</span></div>
                        </div>
                </div> <!--final postagem-->

                <div class="F-postagem ">
                    <div class="F-postagem_pf "><img src="img/gabigordo 2.svg" alt="foto do gabigordo de rosto"><div class="F-postagem_descr"><p>gabigordo</p><span>Flamengo, RJ</span></div></div>
                    <div class="F-foto"><img src="img/post-gabigordo 1.svg" alt="foto em grupo do time de futebol do gabigordo"></div>
                    <div class="F-comentar "><img src="img/Vector1.svg" alt="imagem coração para curtir">
                    <img src="img/comentario.svg" alt="imagem do balão de comentario">
                    <input class="F-comentar_txt" type="text" placeholder="comentar..."></div>
                    <div class="F-curtidas"> 2077 curtidas</div>
                        <div class="F-comentarios">
                            <div class="F-coment"><p>gabigordo</p><a href="https://www.flamengo.com.br/noticias/futebol">#flamengo</a><span>Amo vocês mil milhões <3 </span></div>
                            <div class="F-coment"><p>yes_baby</p><span>thank you</span></div>
                            <div class="F-coment"><p>king_pele</p><span>Esses são bons de bola, entende?</span></div>
                        </div>
                </div> <!--final postagem-->
        </div><!-- final do alinhar  -->