@{
    ViewData["Title"] = "Feed";
}


<div class="F-alinhar content">
    <div class="F-conteiner">
        <section class="F-storyes ">
            <nav>
                <ul class="F-img-pr">
                    @foreach (var usuarios in ViewBag.Stories)
                    {
                        <li>
                            <img src="~/imgCadastro/@usuarios.Foto" alt="Imagem perfil " width="40">
                            <p>@usuarios.Nome</p>
                        </li>
                    }

                </ul>
            </nav>
        </section>
        <div class="F-perfil">
            <div><img src="~/imgFeed/thank-you 2.png" alt="foto de kanel raves brasileiro"></div>
            <div class="F-descr">
                <p>Yes Baby</p>
                <span>Marcos Jeeves</span>
            </div>
        </div>
    </div>
    <div class="F-postar">
        <div class="F-post"><img src="~/imgFeed/thank-you 3.png" alt="foto de perfil de Marcos Jeeves ">
            <p>Postar</p>
        </div>
        <div class="F-botoes">
            <form class="F-btns" action='@Url.Action("NovaPublicacao")' enctype="multipart/form-data">
                <input class="F-descricao" type="text" placeholder="Digite a descrição da imagem">
                <input class="F-escolha" id="Escolha" name="Escolha" type="file" placeholder="Escolha a imagem">
                <label for="Escolha" class="ed-foto">Escolha a imagem </label>


                <button class="F-btn">Postar</button>
            </form>
        </div>
        <!---final botoes-->
    </div> <!-- final postar -->

    <div class="F-postagem ">
        <div class="F-postagem_pf "><img src="~/imgFeed/gabigordo 2.png" alt="foto do gabigordo de rosto">
            <div class="F-postagem_descr">
                <p>gabigordo</p><span>Flamengo, RJ</span>
            </div>
        </div>
        <div class="F-foto"><img src="~/imgFeed/post-gabigordo 1.png"
                alt="foto em grupo do time de futebol do gabigordo"></div>
        <div class="F-comentar "><img src="~/imgFeed/Vector (3).png" alt="imagem coração para curtir">
            <img src="~/imgFeed/Vector (4).png" alt="imagem do balão de comentario">
            <input class="F-comentar_txt" type="text" placeholder="comentar...">
        </div>
        <div class="F-curtidas"> 2077 curtidas</div>
        <div class="F-comentarios">
            <div class="F-coment">
                <p>gabigordo</p><a target="_blank"
                    href="https://www.flamengo.com.br/noticias/futebol">#flamengo</a><span>Amo vocês mil milhões </span>
            </div>
            <div class="F-coment">
                <p>yes_baby</p><span>thank you</span>
            </div>
            <div class="F-coment">
                <p>king_pele</p><span>Esses são bons de bola, entende?</span>
            </div>
        </div>

    </div> <!-- final postagem -->
    <div class="F-postagem ">
        <div class="F-postagem_pf "><img src="~/imgFeed/gabigordo 2.png" alt="foto do gabigordo de rosto">
            <div class="F-postagem_descr">
                <p>gabigordo</p><span>Flamengo, RJ</span>
            </div>
        </div>
        <div class="F-foto"><img src="~/imgFeed/post-gabigordo 1.png"
                alt="foto em grupo do time de futebol do gabigordo"></div>
        <div class="F-comentar "><img src="~/imgFeed/Vector (3).png" alt="imagem coração para curtir">
            <img src="~/imgFeed/Vector (4).png" alt="imagem do balão de comentario">
            <input class="F-comentar_txt" type="text" placeholder="comentar...">
        </div>
        <div class="F-curtidas"> 2077 curtidas</div>
        <div class="F-comentarios">
            <div class="F-coment">
                <p>gabigordo</p><a target="_blank"
                    href="https://www.flamengo.com.br/noticias/futebol">#flamengo</a><span>Amo vocês mil milhões </span>
            </div>
            <div class="F-coment">
                <p>yes_baby</p><span>thank you</span>
            </div>
            <div class="F-coment">
                <p>king_pele</p><span>Esses são bons de bola, entende?</span>
            </div>
        </div>

    </div> <!-- final postagem -->
    <div class="F-postagem ">
        <div class="F-postagem_pf "><img src="~/imgFeed/gabigordo 2.png" alt="foto do gabigordo de rosto">
            <div class="F-postagem_descr">
                <p>gabigordo</p><span>Flamengo, RJ</span>
            </div>
        </div>
        <div class="F-foto"><img src="~/imgFeed/post-gabigordo 1.png"
                alt="foto em grupo do time de futebol do gabigordo"></div>
        <div class="F-comentar "><img src="~/imgFeed/Vector (3).png" alt="imagem coração para curtir">
            <img src="~/imgFeed/Vector (4).png" alt="imagem do balão de comentario">
            <input class="F-comentar_txt" type="text" placeholder="comentar...">
        </div>
        <div class="F-curtidas"> 2077 curtidas</div>
        <div class="F-comentarios">
            <div class="F-coment">
                <p>gabigordo</p><a target="_blank"
                    href="https://www.flamengo.com.br/noticias/futebol">#flamengo</a><span>Amo vocês mil milhões </span>
            </div>
            <div class="F-coment">
                <p>yes_baby</p><span>thank you</span>
            </div>
            <div class="F-coment">
                <p>king_pele</p><span>Esses são bons de bola, entende?</span>
            </div>
        </div>
    </div> <!-- final postagem -->

</div> <!-- final do alinhar  -->